:root {
  --color-iris: #4d5ae5;
  --color-ocean:#404BBF
  --color-navy-blue:#2E2F42
  --color-green:#31D0AA
  --color-slate:#434455
  --color-light-slate:#8E8F99
  --color-cornflower:#E7E9FC
  --color-cloud:#F4F4FD
  --color-navy-blue-modal:#2E2F42
  --color-grey:#2E2F42
  --color-white:#FFFFFF
  --color-dairy:#FCFCFC
}

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    background-color:var(--color-slate);
}

/* HEADER */

.header-logo {
    color: var(--color-navy-blue);
}
.logo {
    color: var(--color-iris);
}

.header-list {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--color-navy-blue);
}

.header-link { 
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--color-slate);
}

/* MAIN */

.main-title {
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
color: var(--color-white);
}

.main-bnt { 
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
}

.features-name {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--color-navy-blue);
}

.features-text {
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--color-slate);
}

.name-section {
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--color-slate);
}

.worker-name {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: var(--color-navy-blue);
}

.worker-dscr {
font-style: normal;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: var(--color-slate);
}

/* FOOTER */

.footer-logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-cloud);
}

.footer-text {
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--color-cloud);
} 


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

